<nz-table #basicTable [nzData]="products">
  <thead>
    <tr>
      <th>Изображение</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Цена</th>
      <th>Рейтинг</th>
    </tr>
  </thead>
  <tbody>
    <tr [routerLink]="'/product/' + data.id" *ngFor="let data of basicTable.data">

      <td><img src="{{data.image}}" [alt]="data.title" class="productImage"></td>
      <td>{{ data.title }}</td>
      <td>{{ data.category }}</td>
      <td><span nz-typography>{{ data.price | currency:'RUB' }}</span></td>
      <td>{{ data.rating.rate }}</td>
    </tr>
  </tbody>
</nz-table>
